.bkgrnd {
    background: #2E3440;
}

.bkgrnd-light {
    background: #434C5E;
}

.rosso {
    color: #BF616A;
}

.arancione{
    color: #D08770;
}

.giallo{
    color: #EBCB8B;
}

.bianca{
    color: #ECEFF4;
}

.verde{
    color: #A3BE8C;
}

p {
    color: #ECEFF4
}

