.bkgrnd {
    background: #2E3440;
}

.bkgrnd-light {
    background: #434C5E;
}

.red {
    color: #BF616A;
}

.orange{
    color: #D08770;
}

.yellow{
    color: #EBCB8B;
}

.white{
    color: #ECEFF4;
}

p {
    color: #ECEFF4
}

